# Python cache
__pycache__/
*.pyc

# Telemetry output folders
telemetry_live/
telemetry_out/

Backup/
Spatio-Temporal-Point-Process-Simulator/

# Data/outputs
*.csv
*.log
*.tmp

# IDE files
.vscode/
.idea/