# Python cache
__pycache__/
*.pyc

# Telemetry output folders
telemetry*

Backup/
Spatio-Temporal-Point-Process-Simulator/
etc/archive_outputs/
etc/external/
etc/tmp/

# Data/outputs
*.csv
*.log
*.tmp

# IDE files
.vscode/
.idea/# Local virtual environment
.venv/
